# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ java_home|default('') }}
Environment=CATALINA_HOME={{ tomcat_home }}
Environment=CATALINE_BASE={{ tomcat_home }}
Environment='CATALINE_OPTS=-Xms128M -Xmx765M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.haedless=true -Djava.security.egd=file:/dev/./urandom'
WorkingDirectory={{ tomcat_home }}

ExecStart={{ tomcat_home }}/bin/startup.sh

User={{ tomcat_user }}

[Install]
WantedBy=multi-user.target
